@import "bulma";

.timer {
  background-color: white;
  color: black;
  padding: 3px;
}

.timer.hidden {
  display: none !important;
}

.timer h2 {
  position: relative;
}
.timer h2 span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.4rem;
}

.timer .columns {
  /*for some reason this has a negative margin by default and covers part of the buttons... */
  margin-top: 0;
  @include until($desktop) {
    text-align: left;
  }
}

.timer-controls {
  //space out buttons on mobile since it might be easy to hit the wrong one.
  @include until($desktop) {
    display: flex;
    justify-content: space-between;
  }
}
