.timer {
  background-color: white;
  color: black;
  padding: 3px;
}

.timer.hidden {
  display: none !important;
}

.timer h2 {
  position: relative;
}

.timer h2 {
  span {
    position: absolute;
    top: 0;
    font-size: 1.4rem;
  }
  .has-text-danger {
    right: 0;
  }
  .has-text-success {
    left: 0;
  }
}

.timer .columns {
  /*for some reason this has a negative margin by default and covers part of the buttons... */
  margin-top: 0;
}

.timer .fa {
  /*this is needed to keep all the buttons the same width*/
  width: 20px;
}
