$primary: #094074;
$secondary: #9fc2cc;
$info: #9fc2cc;
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

.slide-from-right {
  animation: slideAnim 0.3s ease-in-out;
  position: relative;
}

@keyframes slideAnim {
  0% {
    left: 150%;
  }
  100% {
    left: 0;
  }
}
