$primary: #094074;
$secondary: #3c6997;
@import "bulma";
@import "bulma-tooltip";

html {
  font-size: calc(0.7em + 1vw);
}

@media screen and (min-width: 50em) {
  html {
    font-size: 1.2em;
  }
}

.slide-from-right {
  animation: slideAnim 0.3s ease-in-out;
  position: relative;
}

@keyframes slideAnim {
  0% {
    left: 150%;
  }
  100% {
    left: 0;
  }
}

.tooltip-available {
  text-decoration: underline;
  color: $info;
}
